<div class="clear"></div>
<footer class="grid_24">
	<p class="grid_6 push_10">WMS: Website Management System</p>
	<div class="clear"></div>
	<address class="grid_6 push_11">
		<?php
			echo $this->Html->link('http://wms.t73.biz');
		?>
	</address>
</footer>