.jqueryslidemenu{
	font: bold 12px Verdana;
	background: #414141;
	border-radius: 3px;
	width: 100%;
}

.jqueryslidemenu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.jqueryslidemenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
	display: block;
	border-radius: 3px;
	background: #414141; /*background of tabs (default state)*/
	color: white;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
	text-decoration: none;
}

* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
	color: white;
	border-radius: 3px;
}

.jqueryslidemenu ul li a:hover{
	background: black; /*tab link background during hover state*/
	color: white;
}

/*1st sub level menu*/
.jqueryslidemenu ul li ul{
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
	display: list-item;
	float: none;
	z-index: 100;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
	top: 0;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
	background-color: #666;
	color: #000;
	font: normal 13px Verdana;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
	margin: 0;
	border-top-width: 0;
	border-bottom: 1px solid gray;
}

.jqueryslidemenuz ul li ul li a:hover{ /*sub menus hover style*/
	background: #eff9ff;
	color: black;
}

.jqueryslidemenuz ul li ul li a:visited{
	color: black;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
	position: absolute;
	top: 12px;
	right: 7px;
}

.rightarrowclass{
	position: absolute;
	top: 6px;
	right: 5px;
}

.fake-frame{
	border: 1px #000 solid;
	background-color: #d0e5f5;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px 0;
}

.right-column{
	margin-left: 2px;
}
.left-column{
	margin-right: 2px;
}

#KeywordAddIcon, #CategoryAdd {
	cursor: pointer;
	left: 1.0em;
	position: relative;
	top: 0.25em;
}
input, select, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}