<div class="webpages index">
	<h2><?php echo __('Webpages');?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id');?></th>
			<th><?php echo $this->Paginator->sort('category_id');?></th>
			<th><?php echo $this->Paginator->sort('title');?></th>
			<th><?php echo $this->Paginator->sort('seo_title');?></th>
			<th><?php echo $this->Paginator->sort('created');?></th>
			<th class="actions"><?php echo __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	foreach ($webpages as $webpage): ?>
	<tr>
		<td><?php echo h($webpage['Webpage']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($webpage['Category']['name'], array('controller' => 'categories', 'action' => 'view', $webpage['Category']['id'])); ?>
		</td>
		<td><?php echo h($webpage['Webpage']['title']); ?>&nbsp;</td>
		<td><?php echo h($webpage['Webpage']['seo_title']); ?>&nbsp;</td>
		<td><?php echo h($webpage['Webpage']['created']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $webpage['Webpage']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $webpage['Webpage']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $webpage['Webpage']['id']), null, __('Are you sure you want to delete # %s?', $webpage['Webpage']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>