<div class="grid_3 alpha omega">
	<input type="checkbox" id="KeywordKeyword<?php echo $id; ?>" value="<?php echo $id; ?>" checked="checked" name="data[Keyword][Keyword][]">
	<label class="selected" for="KeywordKeyword<?php echo $id; ?>"><?php echo $word; ?></label>
</div>